<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2 th:text="#{page.item}">상품 상세</h2>
    </div>
    <div>
        <label for="itemId" th:text="#{label.item.itemId}">상품 ID</label>
        <input type="text" id="itemId" name="itemId" class="form-control" th:value="${item.itemId}" readonly>
    </div>
    <div>
        <label for="itemName" th:text="#{label.item.itemName}">상품명</label>
        <input type="text" id="itemName" name="itemName" class="form-control" th:value="${item.itemName}" readonly>
    </div>
    <div>
        <label for="itemDetail" th:text="#{label.item.itemDetail}">상품설명</label>
        <textarea id="itemDetail" name="itemDetail" class="form-control" cols="30" rows="10" th:text="${item.itemDetail}" readonly></textarea>
    </div>
    <div>
        <label for="itemSellStatus" th:text="#{label.item.itemSellStatus}">상태</label>
        <input type="text" id="itemSellStatus" name="itemSellStatus" class="form-control" th:value="${item.itemSellStatus}" readonly>
    </div>
    <div>
        <label for="price" th:text="#{label.item.price}">가격</label>
        <input type="text" id="price" name="price" class="form-control" th:value="${item.price}" readonly>
    </div>
    <div>
        <label for="quantity" th:text="#{label.item.quantity}">개수</label>
        <input type="text" id="quantity" name="stock" class="form-control" th:value="${item.quantity}" readonly>
    </div>
    <div>
        <label for="itemHits" th:text="#{label.item.itemHits}">조회수</label>
        <input type="text" id="itemHits" name="itemHits" class="form-control" th:value="${item.itemHits}" readonly>
    </div>
    <div>
        <label for="createdAt" th:text="#{label.item.createdAt}">작성일</label>
        <input type="text" id="createdAt" name="createdAt" class="form-control" th:value="${item.createdAt}" readonly>
    </div>
    <div>
        <label for="openYn" th:text="#{label.item.openYn}">판매여부</label>
        <div class="form-check">
            <input type="checkbox" id="openYn" th:field="*{item.openYn}" class="form-check-input" disabled>
            <label for="openYn" class="form-check-label" th:text="#{label.item.open}">판매 오픈</label>
        </div>
    </div>
    <div>
        <a th:href="|/item/list/download/${file.fileId}|" th:text="${file.oriFileName}" download></a>
        <br/>
        <img id="image" th:src="@{|/item/list/study/uploadFile/${file.fileName}|}" alt="이미지가 없습니다." class="img-thumbnail">
    </div>
    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg" th:text="#{button.update}"
                    th:onclick="|location.href='/item/list/update/${item.itemId}'|" type="button">수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn-danger btn-lg" th:text="#{button.delete}"
                    onclick="deleteReq()" type="button">삭제</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg" th:text="#{button.list}"
                    th:onclick="|location.href='@{/item/list}'|"
                    type="button">목록으로</button>
        </div>
    </div>
</div>
</body>
<script>
    const deleteReq = () => {
        if (confirm("삭제하시겠습니까?")) {
            location.href = `/item/list/delete/[[${item.itemId}]]`;
        }
    }
</script>
</html>
