<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberSql">

    <!--  회원가입  -->
    <insert id="saveMember" parameterType="com.springBoot.item.dto.MemberDTO">
        INSERT INTO member (login_id, address, email, name, password, role)
        VALUES (#{loginId}, #{address}, #{email}, #{name}, #{password}, #{role})
    </insert>

    <!--  수정  -->
    <update id="itemUpdate" parameterType="com.springBoot.item.dto.MemberDTO">
        UPDATE item
        SET  item_detail = #{itemDetail}
           , item_name = #{itemName}
           , item_sell_status = #{itemSellStatus}
           , price = #{price}
           , quantity = #{quantity}
           , open_yn = #{openYn}
        WHERE item_id = #{itemId}
    </update>

    <!--  삭제  -->
    <delete id="itemDelete" parameterType="Long" >
        DELETE FROM item
        WHERE item_id = #{itemId}
    </delete>

</mapper>